div{
    border-style: solid;
    height: 50%;
    outline-width: 10px;
    background-color: aqua;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 50px;
    padding-bottom:100px;
    outline-style: dotted;
    outline-color:red;
}